.footer
<<<<<<< HEAD
  .container All rights reserved. &copy; 2019 Myongji University.
=======
  .container All rights reserved. &copy; 2017 Myongji University.
>>>>>>> c63fcf0e31f74f7bcd36cbcfa9f82757693af503
