.content= tour.content
.tags.badges
  each tag in tour.tags
    span.badge.badge-phill.badge-secondary= tag
    | 
.row
  .col-sm
    .numbers.
      #[span.number.num-likes= tour.numLikes] likes,
      #[span.number.num-answers= tour.numAnswers] answers,
      #[span.number.num-reads= tour.numReads] reads
  .col-sm
    .author
      | guid on #{moment(tour.createdAt).format('YYYY-MM-DD')}
      if tour.author
        | 
        | by #[a(href=`/users/${tour.author.id}`)= tour.author.name] 
